<div>

    <% flash.each do |key, message| %> 
        <div class="text-center alert alert-<%= key %>">
        <%= message %> 
        </div>
    <% end %>

    <h1 class="text-center"><strong>Add New Business Application</strong></h1>
    
    <div>
        <%= form_for(@business_application, :html => {'data-turbo' => "false", class: "form-horizontal", role: "form"}) do |f| %>
            <%if @business_application.errors.any? %>
                <div class="errorbox">
                    <p>The form cannot be submitted without changing the following:</p>
                    <% @business_application.errors.full_messages.each do |errormsg| %>
                        <%= errormsg %>
                        <br/>
                    <% end %>
                </div>
            <% end %>
            
            <div class="formfields">

                <div>
                    <label>Business Title</label>
                    <%= f.text_field :title, class:'form-control',  autofocus: true  %>
                </div>

                <div>
                    <label>Business Details</label>
                    <%= f.text_area :about, class:'form-control',  autofocus: true  %>
                </div>

                <%= f.hidden_field :status, value: 0 %>
                <%= f.submit  value:'Add Application', class:'submitbtn pull-left smallbutton '%>
            </div>
        <% end %>
    </div>

</div>


